.footer{
    vertical-align: bottom;
    height: auto;
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.copyright{
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0;
    padding: 20px;
    bottom: 0px;
}
.footercontainer{
    margin-left: 10%;
    margin-right: 10%;
}
.footercontent{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 40px;
}
.facebookicon{
    margin: 10px;
}
.twittericon{
    margin: 10px;
}
.instagramicon{
    margin: 10px;
}
.navSearch{
    margin-right: 40px;
    margin-top: 20px;
    height: 42px;
    background: #F5FBFF;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding-top: 10px;
}
@media(max-width: 420px){
    .navSearch{
        width: 265px;
        padding-top: 10px;
    }
    .navbutton{
        margin-top: -10px !important;
    }
}
.navSearch > .navInput{
    background-color: transparent;
    border: none;
    outline: none;
}
.navbutton{
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #FD955D;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    float: right;
    margin-top: -10px !important;
}
.footertwo > h1,
.footerthree > h1,
.footerfour > h1{
    color: rgb(197, 197, 197);
}
.footerone, .footertwo, .footerthree, .footerfour{
    margin-right: 50px;
}
.footertwo{
    margin-bottom: 50px;
}
@media(max-width: 700px){
    .footertwo,
    .footerthree{
        display: none;
    }
}