.main{
    background-color: rgb(213, 213, 213);
}
.restoreup{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.contentcontainer{
    margin-left: 10%;
    margin-right: 10%;
}
.contentheader{
    margin-top: 0 !important;
    color: #000;
}
.content{
    color: #fff;
    text-align: center;
    font-size: 30px;
    height:auto;
    width: 100%;
}
.splashscreen{
    display: flex;
    height: auto;

}
.picone{
    background-image: url(../public/img/chela/Mike.jpg);
    background-size: cover;
    height: 400px;
    width: 50%;
    margin-right: 5px;
}
.splashscreentwo{
    display: flex;
    flex-direction: column !important;
    height: 400px;
    width: 50%;
}
.pictwo{
    background-image: url(../public/img/chela/wolvees.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
}
@media(max-width:1260px){
    .content{
        margin: 0 auto !important;
    }
    .picthree, .picfour{
        display: none;
    }
    .picone{
        width: 100%;
        margin-right: 0px;
    }
    .pictwo{
        margin-top: 15px;
        width: 100%;

    }
}
.spashscreenthree{
    display: flex;
}
.picthree{
    background-image: url(../public/img/picthree.png);
    background-size: cover;
    width: 50%;
    height: 150px;
    margin-right: 5px;
}
.picfour{
    background-image: url(../public/img/picfive.png);
    background-size: cover;
    width: 50%;
    height: 150px;
}
@media(max-width:1270px){
    .splashscreen{
        flex-wrap: wrap;
    }
    .splashscreentwo{
        display: flex;
        flex-direction: row !important;
        width: 100%;
    }
    .spashscreenthree{
        width: 100%;
    }
    .picthree, .picfour{
        display: block;
        height: 250px;
        margin-top: 15px;
    }
}
@media(max-width:1000px){
    .splashscreentwo{
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        height: auto !important;
    }
}
@media(max-width:1000px){
    .spashscreenthree{
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        height: auto !important;
    }
    .picthree, .picfour{
        width: 100% !important;
    }
}
.aid{
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.aidleft{
    background-color: rgb(255, 92, 4);
    height: 500px;
    width: 50%;
    margin-top: -20%;
    display: flex;
}
.aidtext{
    width: 50%;
}
.aidtext > h3{
    font-weight: bold;
    font-size: 40px;
}
.aidtext > p{
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #2e2e2e;
}
.aidimage{
    width: 50%;
}
.imagecenter{
    margin: 0 auto;
    height: 300px;
    width: 75%;
    margin-top: 100px;
    border: 2px solid cyan;
    background-image: url(../public/img/chela/neon.jpg);
    background-size: cover;
    background-position: 0 center;
}
.aidright{
    background-color: rgb(44, 44, 44);
    height: 378px;
    width: 50%;
    margin-top: -10%;
}
.aidright > h2{
    color: #fff;
    font-size: 50px;
    margin-left: 10%;
}
.aidright > h2 > span{
    color: rgb(184, 184, 184);
}
.aidright > p{
    margin-left: 10%;
    color: #fff;
    font-size: 17px;
}
.aidbutton{
    padding: 10px;
    width: 120px;
    outline: none;
    background: #f5ed01;
    border-radius: 30px;
    padding: 13px 26px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgb(255, 92, 4);
    color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
    margin-right: 30px;
}
/* .slimcontainer{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday{
    background-color: #fe7878;
    width: 100%;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 70px;
    margin: 10px;
}
.monday > h5,
.tuesday > h5,
.wednesday > h5,
.thursday > h5,
.friday > h5,
.monday > span,
.tuesday > span,
.wednesday > span,
.thursday > span,
.friday > span{
    margin: 4px !important;
}
.monday > span,
.tuesday > span,
.wednesday > span,
.thursday > span,
.friday > span{
    display: block;
    font-size: 14px;
}
.after{
    width: 0;
    height: 0;
    margin-top: -10px;
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fe7878;
    opacity: 1;
} */


@media(max-width: 1000px){
    .aidleft{
        margin-top: -120%;
        width: 100%;
    }
    .aidright{
        margin-top: 20%;
        width: 100%;
    }
}