/* navbar */
.jumbotron{
    height: auto;
    width: 100%;
   }
   .backimage{
       background-color: #ffffff;
       height: auto;
       width: 100%;
   }
   .conbusi{
       background-color: greenyellow;
       height: 50px;
       margin-top: 0;
   }
   .conbusiContainer{
       margin-right: 10%;
       margin-left: 10%;
   }
   .conbusiContainer > p{
       margin: 0 !important;
       padding-top: 10px;
       display: flex;
       flex-direction: row;
   }
   .conbusiRight{
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       margin-top: -20px;
   }
   .conbusiEmail{
       display: inline !important;
   }
   .EmailIcon{
       font-size: 20px;
   }
   /* .conbusiNumber{
   
   } */
   .conbusiSocials{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
   }
   .constructo{
       height: 120px;
       background-color: black;
   
   }
   .constructoContainer{
       margin-right: 10%;
       margin-left: 10%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
   @media(max-width:500px){
       .constructo{
           height: 90px;
           background-color: rgb(191, 64, 64);
       }
   }
   .constructoLogo{
       margin-left: 30px;
       color: #fff;
   }
   .constructoButtons{
       margin-top: 30px;
   }
   .register{
       padding: 10px;
       width: 120px;
       outline: none;
       background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
       border-radius: 30px;
       padding: 13px 26px;
       font-size: 14px;
       font-weight: 400;
       border: 1px solid transparent;
       color: #fff;
       transition: 0.3s;
       cursor: pointer;
       margin-right: 30px;
   }
   .register:hover{
       background: linear-gradient(to right,  #5db2ff 100%, #0181f5 0%);
   }
   .login{
       padding: 10px;
       width: 120px;
       outline: none;
       background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
       border-radius: 30px;
       padding: 13px 26px;
       font-size: 14px;
       font-weight: 400;
       border: 1px solid transparent;
       color: #fff;
       transition: 0.3s;
       cursor: pointer;
       margin-right: 30px;
   }
   .login:hover{
       background: linear-gradient(to right,  #5db2ff 100%, #0181f5 0%);
   }
   .navbar{
       border: none;
       background-color: rgb(191, 64, 64);
       border-radius: 15px;
       height: 80px;
       margin: 0 auto;
       width: 80%;
       margin-top: -40px;
       display: flex;
       justify-content: space-between;
   }
   .navbar > nav{
       margin-left: 60px;
       margin-top: 0px;
       padding-top: 15px;
   }
   .navbarul{
       display: flex;
       flex-direction: row;
   }
   .navbarul > li{
       margin-right: 30px;
       padding-bottom: 22px;
   }
   .navbarul > li:hover{
       border-bottom: 3px solid rgb(17, 237, 215);
   }
   .navSearch{
       margin-right: 40px;
       margin-top: 20px;
       height: 42px;
       background: #F5FBFF;
       padding-left: 20px;
       font-size: 15px;
       color: #000;
       border: none;
       border: 1px solid #ffffff;
       border-radius: 30px;
   }
   .navSearch > .navInput{
       background-color: transparent;
       border: none;
       outline: none;
   }
   .navbutton{
       height: 40px;
       border: none;
       font-size: 14px;
       color: #fff;
       background: #FD955D;
       padding: 10px;
       padding: 0 22px;
       cursor: pointer;
       border-radius: 30px;
       font-size: 13px;
       font-weight: 500;
   }
   
   
   /* .distro{
       height: 400px;
   } */
   
   
   
   
   
   @media(max-width:1000px){
       .conbusiContainer > p{
           display: none !important;
       }
       .conbusiRight{
           text-align: center !important;
           margin-top: 0px;
           padding-top: 15px;
       }
   }
   @media(max-width:1005px){
       .navbar,
       .conbusi,
       .constructoButtons{
           display: none;
       }
       .responsivebars{
           display: block;
           color: #fff;
           position: absolute;
           top: 30px;
           right: 50px;
       }
   }
   @media(min-width: 1005px){
       .responsivebars{
           display: none;
       }
   }










/* body */
.read{
    background-color: #ffffff !important;
}
.path{

}
.pathcontainer{
    margin: 0 10%;
    margin-top: 0px;
}
.pathcontainer > p{
    color: #888888;
}
.pathcontainer > p:nth-child(2){
    color: #797979;
    text-transform: uppercase;
}
.pathcontainer > p:nth-child(2):hover{
    color: #20ff20;
}
.readcontentcontainer{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
}
.readright{
    width: 60%;
    height: auto;
    margin-right: 10%;
}
.readsidebar{
    width: 30%;
    height: 50px;
    background-color: #ffffff;
}
.owner{

}
.articleimage{
    background-image: url(../public/img/post-36.jpg);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentbox{
    width: 100% !important;
    min-height: 120px;
    max-height: 200px;
    border-radius: 5px;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 13px;
    line-height: 1.7;
    padding: 14px 18px;
    border: 1px solid rgb(80, 80, 80);
}
.commentform > .commentinput{
    width: 100%;
    outline: none;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 9px 12px;
    margin-top: 10px;
}
.postcommentbutton{
    outline: none;
    float: right;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sidebarheader{
    width: 100%;
    border: 1px solid black;
    border-left: 6px solid black;
    margin-bottom: 20px;
}
.sidebarheader > h3{
    padding: 10px !important;
    margin: 0;
}
.popularreads{
    margin-bottom: 20px;
}
.readone{
    display: flex;
    margin-bottom: 20px;
}
.popimage{
    background-image: url(../public/img/post-36.jpg);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    width: 100px;
    height: 75px;
}
.poptext > h6{
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    font-family: Roboto-Medium;
    font-size: 15px;
}
.poptext > span{
    margin: 0px;
    padding: 10px;
    font-family: Roboto-Regular;
    font-size: 12px;
}
@media(max-width: 1000px){
    .readcontentcontainer{
        display: flex;
        flex-direction: column;
    }
    .readsidebar{
        display: block;
        width: 100%;
        height: auto;
    }
    .sidebartwo, .sidebarthree{
        display: none;
    }
    .readright{
        width: 100%;
    }
}