.slim{
}
.slimcontainer{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
}
.slimcontainer > span{
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #fe9191;
    letter-spacing: 2px;
    text-align: center;
}
.slimcontainer > h2{
    text-align: center;
}
.slimcontainer > p{
    text-align: center;
}
.navpills{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.navpills > a{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: coral;
    margin-bottom: 10px;
}
.navpills > a:nth-child(1){
    margin-top: 20px;
}
.navlinkwrap{
    display: flex;
}
.slimcontentarea{
    width: 80%;
}
.slimrightone{
    height: 200px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 10px;
}
.slimrighttwo{
    height: 200px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 15px;
}
.slimrightthree{
    height: 200px;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 10px;
}
.slimrightone,
.slimrighttwo,
.slimrightthree{
    display: flex;
}
.slimdownloadone,
.slimdownloadtwo,
.slimdownloadthree,
.slimdownloadfour,
.slimdownloadfive,
.slimdownloadsix,
.slimdownloadseven,
.slimdownloadeight,
.slimdownloadnine,
.slimdownloadten,
.slimdownloadeleven,
.slimdownloadtwelve{
    height: ;
    width: 200px;
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin: 10px;
    background-position: center center;
    background-size: cover;
}
.slimdownloadone{
    background-image: url(../public/img/picone.png);
}
.slimdownloadtwo{
    background-image: url(../public/img/pictwo.png);
}
.slimdownloadthree{
    background-image: url(../public/img/picthree.png);
}
.slimdownloadfour{
    background-image: url(../public/img/picfour.png);
}
.slimdownloadfive{
    background-image: url(../public/img/picfive.png);
}
.slimdownloadsix{
    background-image: url(../public/img/picsix.png);
}
.slimdownloadseven{
    background-image: url(../public/img/picseven.png);
}
.slimdownloadeight{
    background-image: url(../public/img/piceight.png);
}
.slimdownloadnine{
    background-image: url(../public/img/picnine.png);
}
.slimdownloadten{
    background-image: url(../public/img/picten.png);
}
.slimdownloadeleven{
    background-image: url(../public/img/piceleven.png);
}
.slimdownloadtwelve{
    background-image: url(../public/img/pictwelve.png);
}

@media(max-width:980px){
    .slim{
        display: none;
    }
}